/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/global.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'bold';
  src: url('/fonts/SF-Pro-Rounded-Bold.otf');
}

@font-face {
  font-family: 'heavy';
  src: url('/fonts/SF-Pro-Rounded-Heavy.otf');
}

@font-face {
  font-family: 'medium';
  src: url('/fonts/SF-Pro-Rounded-Medium.otf');
}

@font-face {
  font-family: 'regular';
  src: url('/fonts/SF-Pro-Rounded-Regular.otf');
}

@font-face {
  font-family: 'semi';
  src: url('/fonts/SF-Pro-Rounded-Semibold.otf');
}

.global_html__ersuz,
.global_body__dsAgv {
  font-family: 'heavy';
  font-size: large;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: black;
}

